body {
    font-family:"Arial";
    position:relative;
}

body h1 {
    text-align:center;
    font-size:40px;
}

.recipes {
    text-align:center;
}

.recipeBox {
    cursor:pointer;
    border:1px solid black;
    display:inline-block;
    width:200px;
    margin:10px;
    padding:20px;
    border-radius:5px;
}

.submitButton {
    width:100px;
    background-color: #0000CC;
    color:white;
}

.lightBox {
    position:fixed;
    display:none;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:rgba(0, 0, 0, 0.9);
    z-index:100;
}

.lightBoxContent {
    position:relative;
    padding-top:40px;
    width:100%;
    color:white;
    text-align:center;
}

.closeRecipeButton {
    position:fixed;
    right:40px;
    top:20px;
    cursor:pointer;

}

.theForm input {
    display:block;
    margin:0 auto;
    padding:5px;
    border-radius:5px;
    border: 1px solid black;
}

#ingredients input, select {
    display:inline;
    padding:5px;
    border-radius:5px;
    border: 1px solid black;
}

.instruction {
    display: inline-block;
    width: 60%;
    height: 100px;
    padding: 20px;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

